@media (min-width:1100px) {
    body {
        font-size: 100%;
    }
}

@media (min-device-width: 800px) and(max-device-width: 1116px) {
    body {
        font-size: 2em;
    }
}

@media (min-width:500px) and(max-device-width: 800px) {
    body {
        font-size: 1.5em;
    }
}

@media (min-width:280px) and(max-device-width: 500px) {
    body {
        font-size: 1em;
    }
}


/* Smartphones (portrait and landscape) ———– */

@media only screen and (min-device-width: 280px) and (max-device-width: 1116px) {
    /*.navbar {
    }*/
    .contáctanos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.3fr 0.3fr;
        grid-template-areas: "logo" "contacto" "feedback";
        justify-items: left;
        justify-content: left;
        padding: 5%;
    }
    .logo {
        padding: 0;
        margin: 0;
    }
    .logo img {
        width: 20rem;
    }
    .contacto,
    .feedback {
        margin: 5%;
        margin-bottom: 0%;
    }
    .feedback {
        padding: 0%;
        margin-top: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .feedback input {
        width: 100%;
        height: 2em;
    }
    .feedback textarea {
        width: 100%;
        height: 15em;
    }
    button {
        font-size: 100%;
        padding: 2%;
    }
    #check {
        width: 1em;
        height: 1em;
        margin-right: 2%;
    }
    .contacto img {
        width: 16.5%;
        height: auto;
        margin: 0rem 0.05rem;
        padding: 3%;
    }
    .contacto #uber {
        margin: 0.1rem 0.05rem;
        width: 19%;
        height: auto;
    }
    .contacto #pedidosya {
        margin: 0.1rem 0.05rem;
        width: 22%;
        height: auto;
    }
    .menú_acaí,
    .menú_salad {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "p11" "p12" "p13" "p14" "p15" "p16" "p17" "p18";
        row-gap: 2rem;
    }
    .menú h3 img {
        width: 3%;
    }
    .p11_text,
    .p12_text,
    .p13_text,
    .p14_text,
    .p15_text,
    .p16_text,
    .p17_text,
    .p18_text {
        font-size: 1em;
    }
    .nosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 0.1fr 0.4fr;
        grid-template-areas: "vid" "contenido" "mapa";
        column-gap: 0rem;
        row-gap: 0.5rem;
        width: 100%;
    }
    .vid {
        grid-area: vid;
        align-items: center;
        justify-content: center;
    }
    .vid video {
        width: 80%;
        height: auto;
    }
    .contenido {
        width: 80%;
    }
    .mapa {
        grid-area: mapa;
        vertical-align: center;
        align-self: center;
        padding-bottom: 3%;
        width: 80%;
    }
    .mapa iframe {
        border: 0;
        width: 100%;
        height: 300px;
    }
}