* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header {
    padding: 0.25% 0.25%;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
}

img,
video {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

footer {
    background-color: black;
    color: #ffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0%;
    background-color: #1D4D45;
    color: #fff;
    position: sticky;
    top: 0%;
    width: 100%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
    padding-inline-start: 0%;
}

.nav-links a {
    color: #fff;
}

.options {
    display: flex;
    gap: 1em;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.options li:hover {
    background-color: #163a34;
    border-radius: 2.5rem;
    transition: 0.35s ease;
    text-decoration: underline;
}

.options li {
    padding: 0.5rem 2rem;
    text-align: center;
}

.menu {
    position: relative;
}

.dropdown {
    background-color: #25665b;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 0.75rem;
    top: 1rem;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #143832;
}

.menu:hover .dropdown {
    display: block;
}

.contáctanos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo contacto contacto feedback feedback2" "logo horario siguenos feedback feedback2";
    justify-items: left;
    justify-content: left;
}

.logo {
    grid-area: logo;
    padding: 10%;
    align-self: center;
    justify-self: center;
}

.contacto {
    grid-area: contacto;
}

.horario {
    grid-area: horario;
}

.feedback {
    grid-area: feedback;
}

.feedback2 {
    grid-area: feedback2;
}

.siguenos {
    grid-area: siguenos;
}

button {
    color: rgb(255, 255, 255);
    background-color: #1D4D45;
    border: 0.005rem solid #FFFF;
    margin: 0.5rem;
    padding: 0.4rem;
    -webkit-border-radius: 12.5%;
    -moz-border-radius: 12.5%;
    border-radius: 12.5%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #0000;
}