* {
    margin: auto;
    box-sizing:content-box;
    font-family: 'Quicksand', sans-serif;
}

header{
    padding: 5px 5px;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
}

a {
    text-decoration: none;
   }
   
li {
    list-style: none;
   }

footer {
    background-color: black;
    color: #ffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    background-color: #1D4D45;
    color: #fff;
    position: sticky;
    top: 0%;
    width:100%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.nav-links a {
    color: #fff;
}

.options {
    display: flex;
    gap: 1em;
    font-size: 16px;
    font-weight: bold;
    text-align: center; 
}
       
.options li:hover {
    background-color: #163a34;
    border-radius: 10px;
    transition: 0.35s ease;
    text-decoration: underline;
}
       
.options li {
    padding: 5px 20px;
    text-align: center;
}
       
.menu {
    position: relative; 
}

.dropdown {
    background-color: #25665b;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 15px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #143832;
}

.menu:hover .dropdown {
    display: block;
}
  
  section, article {
    border: 1px solid grey;
    border-radius: 1%;
    text-align: center
  }
  
  .container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo v contacto a20"
      "logo v contacto a50"
      "logo v v a70"
      "logo v v a80"; 
  }
  
  .logo { grid-area: logo; padding: 1%;}
  .contacto { grid-area: contacto; }
  .a30 { grid-area: a30; }
  .a40 { grid-area: a40; }
  .a50 { grid-area: a50; }
  .a60 { grid-area: a60; }
  .a70 { grid-area: a70; }
  .a80 { grid-area: a80; }
  
  
  

