<html lang="en">

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <br>
            <br>
            <br>
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="../../assets/imagenes/pngwing.com.png" id="icon" alt="User Icon" />
                <h1>¿Ya tienes una cuenta?</h1>
            </div>
            <!-- Login Form -->
            <form action="/principal" method="post">
                <input type="email" [(ngModel)]="email" id="user" class="fadeIn second" name="user" placeholder="correo@example.com">
                <input type="password" [(ngModel)]="password" id="password" class="fadeIn third" name="password" placeholder="contraseña">
                <button type="submit" class="fadeIn fourth" (click)="login()">Iniciar Sesión</button>
            </form>
            <!-- Remind Passowrd -->
            <div class="olvide">
                <a class="underlineHover" id="olvide" href="./form">¿Has olvidado tu contraseña?</a>
            </div>
            <div class="preregistro">
                <a class="underlineHover" id="olvide" href="./form">¿Pre-registrate como médico?</a>
                <a class="underlineHover" id="olvide" href="./form">Conoce el estado de tu pre-registro</a>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

</body>