<mat-toolbar color="primary" class="barra-sup">
    <div class="image">
        <a routerLink="/mvc"><img src="../../assets/imagenes/logo.png" alt="logo"></a>
    </div>
</mat-toolbar>
<br>
<br>
<br>
<ng-content></ng-content>
<br>
<br>
<br>
<mat-toolbar color="primary" class="barra-nav">
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Cuenta" routerLink="/principal">
                  <mat-icon aria-hidden="false">account_circle</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Mi horario" routerLink="/calendar">
                  <mat-icon aria-hidden="false">calendar_today</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Mis pacientes" routerLink="/dates">
                  <mat-icon aria-hidden="false">how_to_reg</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-toolbar>